<h2>Olá, <%= @customer[:name] %>!</h2>

<p>
  Sua Ordem de Serviço <strong><%= @service_order.id %></strong> teve o status atualizado para:
  <strong><%= @service_order.status.humanize %></strong>.
</p>

<p>Resumo da ordem de serviço:</p>
<ul>
  <% if @service_order.services.any? %>
    <li>
      Serviços:
      <ul>
        <% @service_order.services.each do |service| %>
          <li><%= service.item_name %> - R$ <%= service.total_value.to_s %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if @service_order.products.any? %>
    <li>
      Produtos/Peças:
      <ul>
        <% @service_order.products.each do |product| %>
          <li><%= product.item_name %> - R$ <%= product.total_value.to_s %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<p>Obrigado!</p>
